<div *ngIf="user">
    <mat-card>
        <mat-card-title>Dashboard</mat-card-title>
        <div class="container">
            <div class="groups">
                <button mat-raised-button color="accent" (click)="onNewGroup()">New Group</button>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let group of groups">
                        <mat-expansion-panel-header>
                            {{ group.name }}
                        </mat-expansion-panel-header>
                        <div class="update-group-form">
                            <form (ngSubmit)="onUpdateSubmit(group)">
                            <mat-dialog-content>
                                <mat-form-field>
                                    <input matInput placeholder="Name" [(ngModel)]="group.name" name="name" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Admin" [(ngModel)]="user.name" name="admin" [disabled]="true">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-chip-list #chipList>
                                        <mat-chip *ngFor="let member of group.members" [selectable]="selectable"
                                            [removable]="removable" (removed)="removeMember(group, member)">
                                            {{ member }}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input placeholder="Members"
                                            [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="addOnBlur"
                                            (matChipInputTokenEnd)="addMember($event, group)">
                                    </mat-chip-list>
                                </mat-form-field>
                            </mat-dialog-content>
                            <mat-dialog-actions>
                                <button mat-raised-button color="primary" type="submit">Save</button>
                            </mat-dialog-actions>    
                        </form>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="facts">
                <p>Facts</p>
            </div>
        </div>
    </mat-card>
</div>
